# ==================================================
# Required
# ==================================================

ARGO_TOKEN=


# ==================================================
# Optional
# ==================================================

# UUID
#
# 留空自动生成
#
# 自动保存到 ./data/runtime.json

UUID=


# WebSocket Path
#
# 留空自动生成

WS_PATH=


# Tunnel 域名
#
# 仅用于生成客户端链接

HOST=
